.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form input {
  display: block;
  width: 80%;
  font: inherit;
  border-radius: 4px;
  background-color: #f7f5ef;
  border: none;
  border-bottom: 2px solid #494844;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  flex-grow: 1;
  margin-right: 4px;
}

.form button {
  font: inherit;
  padding: 0.5rem 0.5rem;
  background-color: #ebb002;
  border: 1px solid #ebb002;
  border-radius: 4px;
  cursor: pointer;
}
